<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hack3d.truckit"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hack3d.truckit.RegisterActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.hack3d.truckit.ModeSelectActivity"
                android:label="@string/title_activity_mode_select" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.ClientPastJobsActivity"
            android:label="@string/title_activity_client_past_jobs" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.ClientMainActivity"
            android:label="@string/title_activity_client_main" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.HaulerHome"
            android:label="@string/title_activity_hauler_home" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.HaulerProfile"
            android:label="@string/title_activity_hauler_profile" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.HaulerLoads"
            android:label="@string/title_activity_hauler_loads" >
        </activity>
        <activity
            android:name="com.hack3d.truckit.RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
    </application>

</manifest>
